<div class="content-container">
    <div class="paddedbottom10">
        <ul class="breadcrumb">
            <li><a href="#/servicemodels">Service Models</a></li>
            <li class="active">View Service Model</li>
        </ul>
    </div>
    <div>
        <div class="card">
            <div class="content">
                <div class="pull-right">
                    <div class="btn-group">
                        <a href="#/editloanservicemodel" class="btn btn-primary"><i
                            class="fa fa-edit "></i> {{'label.button.edit' | translate}}</a>
                        <a href="#" class="btn btn-primary"><i
                            class="fa fa-edit "></i> {{'label.button.delete' | translate}}</a>
                    </div>
                </div>
                <table width="100%">
                    <tr>
                        <td>
                            <a id="test" class="old-syle-anchor">&nbsp;</a>
                        </td>
                    </tr>
                    <tr class="bottomborder">
                        <td colspan="4">
                            <strong>{{'label.heading.details' | translate}}</strong>
                        </td>
                    </tr>
                    <tr class="toppadding">
                        <td>Product Type</td>
                        <td colspan="3">Loan</td>
                    </tr>
                    <tr class="toppadding">
                        <td>Product ID</td>
                        <td colspan="3">BILCT</td>
                    </tr>
                    <tr class="toppadding">
                        <td>Funding model</td>
                        <td colspan="3">EXT</td>
                    </tr>
                    <tr class="toppadding">
                        <td>Repayment Model</td>
                        <td colspan="3">EXT</td>
                    </tr>
                    <tr class="toppadding">
                        <td>Back Office Processing</td>
                        <td colspan="3">OUTSOURCE</td>
                    </tr>
                    <tr class="toppadding">
                        <td>Risk sharing  Model</td>
                        <td colspan="3">SYNDICATE</td>
                    </tr>
                    <tr class="toppadding">
                        <td>Risk Sharing type</td>
                        <td colspan="3">TRANCHES</td>
                    </tr>
                    <tr class="toppadding">
                        <td>Recovery support</td>
                        <td colspan="3">SOFT</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                        </td>
                        <td class="pull-right">
                            <a ng-click="scrollto('viewlptop')"><i class="fa fa-upload"></i>{{'label.button.top' | translate}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>