<!DOCTYPE html>
<div class="content-container">
    <ul class="breadcrumb">
            <li><a href="#/fldg">Tranche</a></li>
            <li><a href="#/viewfldg">View Tranche</a></li>
            <li class="active"> Close </li>
    </ul>

    <wizard current-step="step" class="card well">
        <wz-step icon="fa fa-circle-o" wz-title="">
            <div class="card-content">
                <form name="createfldgform" novalidate="" class="form-horizontal" rc-submit="submit()">
                    <api-validate></api-validate>
                    <fieldset>
                        <legend></legend>
                        <div class="form-group">
                                
                            <label class="control-label col-sm-2">Closed Date </label>
                            <div class="col-sm-3">
                                <input id="activateddate" ng-model="closeddate" type="text" name="activateddate" datepicker-pop="dd MMMM yyyy"
                                       is-open="opened2" min="minDate" max="restrictDate"  class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                        <label class="control-label col-sm-2">Closure Reason</label>
                            <div class="col-sm-3">
                                <textarea rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <br/>
                        <div class="text-center">
                            <a id="cancel" ng-href="{{cancel}}" class="btn btn-default">cancel</a>
                            <button id="save" type="submit" class="btn btn-primary">submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </wz-step>
    </wizard>
</div>
