<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="lender-title">
                    View FLDG Details
                </h4>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                <tr class="graybg">
                    <th class="graybg">FLDG Details</th>
                    <td>
                        <a href="#/editfldg"><button class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i>{{'label.button.edit' | translate}}</button></a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th >
                        Lender Id
                    </th>
                    <td></td>
                </tr>
                <tr>
                    <th>
                        Tranche Id
                    </th>
                    <td></td>
                </tr>
                <tr>
                    <th >
                        Tranche Name
                    </th>
                    <td></td>
                </tr>
                <tr>
                    <th >
                        Tranche Loan Limit range
                    </th>
                    <td></td>
                </tr>
                <tr>
                    <th >
                        Tranche Risk Cover range
                    </th>
                    <td></td>
                </tr>
                <tr>
                    <th >
                        Tranche Loan available limit range
                    </th>
                    <td></td>
                </tr>
                <tr>
                    <th >
                        Active
                    </th>
                    <td>
                        Not Activated
                    </td>
                </tr>
                <tr>
                    <th>
                        Submitted Date
                    </th>
                    <td></td>
                </tr>
                <tr>
                    <th >
                        Activated Date
                    </th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>