<div class="col-md-12" ng-controller="BulkImportClientsController" ng-init="refreshImportTable()">
    <ul class="breadcrumb">
        <!-- <li><a href="#/bulkimport">{{'label.anchor.bulkimport' | translate}}</a></li> -->
        <li class="active">{{'Upload Loan Repayment'}}</li>
    </ul>
    <api-validate></api-validate>

    <div style="margin-top:20px;" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Loan Repayment Template'}}</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-12">
                    <form  name="bulkImportClients" role="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-1">
                                <a target="_blank" class='btn btn-primary' href="{{hostUrl}}{{first.templateUrl}}{{first.queryParams}}" has-permission='READ_CLIENT'><i
                                        class="fa fa-cloud-download"></i>{{'label.button.download' | translate}}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'Loan Repayment'}}</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <form class="form-inline" role="form">
                    <label class="control-label col-sm-2" for="file">{{'label.input.selectexcelfile' | translate}}<span
                            class="required">*</span></label>

                    <div class="col-sm-3">
                        <input type="file" id="file" accept=".xls,.xlsx" class="form-control btn btn-default"
                               ngf-select="onFileSelect($files)">
                    </div>
                    <button style="margin-left:10px;" type="button" class="form-control btn btn-primary col-sm-2"
                            ng-click="upload()">
                        {{'label.button.upload' | translate}}
                    </button>

                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{'label.heading.documents' | translate}}</h3>
            <button style="margin-left:1050px;" type="button" class="btn btn-primary" ng-click="refreshImportTable()">
                <i class="fa fa-repeat "></i> {{'label.button.refresh' | translate}}
            </button>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr class="graybg">
                    <th> Bank Code </th>
                    <th> Bank Txn Id </th>
                    <th> Lender ID </th>
                    <th> Loan ID </th>
                    <th> Transaction date </th>
                    <th> Value Date </th>
                    <th> Transaction Amount </th>
                    <th> Payment Type </th>
                    
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="clearfix"></div>
</div>