<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/home">Home</a></li>
        <li class="active">Dashboard</li>
    </ul>
    <div class="card bg-card">
        <h1>Dashboard</h1>
        <hr/>
        <h3>Summary</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="summary-box">
                    <h5 class="summary-label">Total Loan Disbursal</h5>
                    <h3 class="summary-value">10,00,00,000</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="summary-box">
                    <h5 class="summary-label">Total Loan Closed</h5>
                    <h3 class="summary-value">2,00,00,000</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="summary-box">
                    <h5 class="summary-label">Total Revenue</h5>
                    <h3 class="summary-value">2,00,00,000</h3>
                </div>
            </div>
        </div><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="summary-box">
                    <h5 class="summary-label">Total Tranche Limit</h5>
                    <h3 class="summary-value">25,00,00,000</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="summary-box">
                    <h5 class="summary-label">Total Loss in PRS</h5>
                    <h3 class="summary-value">50,00,000</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="summary-box">
                    <h5 class="summary-label">Total Recovery</h5>
                    <h3 class="summary-value">25,00,000</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" summary-box">
                    <h5 class="summary-label">Limit Utilized</h5>
                    <h3 class="summary-value">10,00,000</h3>
                </div>
            </div>
        </div><br/>
        <hr/>
        <h3>Outstanding Loans based on</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="summary-box">
                    <h5 class="summary-label">30dpd(0-30days)</h5>
                    <h3 class="summary-value">5,00,00,000</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="summary-box">
                    <h5 class="summary-label">60dpd(30-60days)</h5>
                    <h3 class="summary-value">3,00,00,000</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="summary-box">
                    <h5 class="summary-label">90dpd(60-90days)</h5>
                    <h3 class="summary-value">1,00,00,000</h3>
                </div>
            </div>
        </div><br/>
        <hr/>
        <h3>Failure Loan in Tranche</h3>
        <table class="dashboard-table" width="100%">
            <tr>
                <th>Tranche 1</th>
                <td>20</td>
            </tr>
            <tr>
                <th>Tranche 2</th>
                <td>30</td>
            </tr>
        </table>
    </div>

</div>