<div class="content-container">
        <ul class="breadcrumb">
                <!-- <li><a href="#/viewmargindeposit">Tranche</a></li> -->
                <!-- <li><a href="#/viewfldg">View Loan</a></li> -->
                <li class="active">view - Individual </li>
            </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="lender-title">
                    View Individual
                </h4>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                <tr class="graybg">
                    <th class="graybg"></th>
                    <td>
                        <a href=""><button class="btn btn-primary pull-right rs-btn"><i class="fa fa-trash-o"></i> {{'label.button.delete' | translate}}</button></a>
                        <a href="#/editindividual"><button class="btn btn-primary pull-right rs-btn"><i class="fa fa-edit"></i> {{'label.button.edit' | translate}}</button></a>
                    </td>
                </tr>
                </thead>
                <tbody>
                    <th>
                        Individual Id
                    </th>
                    <td>52</td>
                </tr>
                <tr>
                    <th >
                        Individual Name
                    </th>
                    <td>Rajesh</td>
                </tr>
                <tr>
                    <th >
                        Individual Pan Number
                    </th>
                    <td>56231452</td>
                </tr>
                <tr>
                    <th >
                        Individual Birth date
                    </th>
                    <td>02 Jan 1988</td>
                </tr>
                <tr>
                    <th >
                        Individual Father Name
                    </th>
                    <td>
                        Saravanan
                    </td>
                </tr>
                <tr>
                    <th>
                        Individual Company Name
                    </th>
                    <td>HCL</td>
                </tr>
                <tr>
                    <th >
                        Individual Company Designation
                    </th>
                    <td>Manager</td>
                </tr>
                </tbody>
            </table>
        </div>

        <uib-tabset class = "scrollable" tabset-name="Addreess" scrollable>
            <uib-tab heading="Addreess">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Address type</th>
                            <th>Street</th>
                            <th>Address Line 1</th>
                            <th>Address Line 2</th>
                            <th>City</th>
                            <th>Country</th>
                            <th>Postal Code</th>
                            <th>Is active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Permanent</td>
                            <td>First Street</td>
                            <td>New Colony</td>
                            <td>Chromepet</td>
                            <td>Chennai</td>
                            <td>India</td>
                            <td>600044</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Temporary</td>
                            <td>New Street</td>
                            <td>LB Colony</td>
                            <td>Truvanmiyur</td>
                            <td>Chennai</td>
                            <td>India</td>
                            <td>600041</td>
                            <td>No</td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
        
    </div>
</div>