<!DOCTYPE html>
<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/taskdashboard">Task Dashboard</a></li>
        <li><a href="#/taskoverview">Tasks Overview</a></li>
        <li class="active">Close Task</li>
    </ul>

    <wizard current-step="step" class="card well">
        <wz-step icon="fa fa-circle-o" wz-title="Close">
            <div class="card-content">
                <form name="closeform" novalidate="" class="form-horizontal" rc-submit="submit()">
                    <api-validate></api-validate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-sm-2"> Closed Date </label>
                            <div class="col-sm-3">
                                <div>
                                    <input type="text" ng-model="closeddate" name="closeddate" datepicker-pop="dd MMMM yyyy"
                                           is-open="opened1" min="minDate" max="restrictDate" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"> Reason </label>
                            <div class="col-sm-3">
                                <div>
                                    <textarea rows="3" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"> Final Status <span class="required">*</span></label>
                            <div class="col-sm-3">
                                <div>
                                    <!-- <input type="text" name="Status" class="form-control"> -->
                                    <select class="form-control">
                                        <option value="inprogress">In Progress</option>
                                        <option value="resolved">Resolved</option>
                                        <option value="close">Close</option>
                                        <option value="reopen">Reopen</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a id="cancel" ng-href="{{cancel}}" class="btn btn-default">Cancel</a>
                            <button id="save" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </wz-step>
    </wizard>
</div>
