<div class="content-container">
	<div id="expertsearch" class="card well">
    <h3 class="paddedleft"><strong>Task Dashboard</strong>
    </h3>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <div class="task_summary-box">
                <div class="task_summary-icon bg-color-1">
                    <i class="fa fa-list"></i>
                </div>
                <div class="task_summary-content">
                    <h5 class="summary-label"><a href="#/taskoverview">Total Tasks</a></h5>
                    <h3 class="summary-value">180</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="task_summary-box">
                <div class="task_summary-icon bg-color-2">
                    <i class="fa fa-tasks"></i>
                </div>
                <div class="task_summary-content">
                    <h5 class="summary-label">Resolved Tasks</h5>
                    <h3 class="summary-value">40</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="task_summary-box">
                <div class="task_summary-icon bg-color-3">
                    <i class="fa fa-list-alt"></i>
                </div>
                <div class="task_summary-content">
                    <h5 class="summary-label">In Progress Tasks</h5>
                    <h3 class="summary-value">30</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="task_summary-box">
                <div class="task_summary-icon bg-color-4">
                    <i class="fa fa-check-square-o"></i>
                </div>
                <div class="task_summary-content">
                    <h5 class="summary-label">Closed Tasks</h5>
                    <h3 class="summary-value">110</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
	    <div class="col-md-6">
	    	<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-laptop"></i> Due This Week</h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
					  <a href="#"  class="list-group-item">Task 3</a>
					  <a href="#"  class="list-group-item">Task 2</a>
					  <a href="#"  class="list-group-item">Task 1</a>
					</div>
				</div>
		    </div>
        </div>
        <div class="col-md-6">
	    	<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-laptop"></i> Overdue </h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
					  <a href="#"  class="list-group-item">Task 3</a>
					  <a href="#"  class="list-group-item">Task 2</a>
					  <a href="#"  class="list-group-item">Task 1</a>
					</div>
				</div>
		    </div>
	    </div>
	</div>
    <div class="row">
    	<div class="col-md-12">
	    	<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-bolt"></i> Assigned me </h3>
				</div>
				<div class="panel-body">
					<!-- <div class="list-group">
					  <a href="#" class="list-group-item">Task 1</a>
					  <a href="#" class="list-group-item">Task 2</a>
					  <a href="#" class="list-group-item">Task 3</a>
                    </div> -->
                    <table class="table table-condensed">
                        <tr>
                            <th>Task name</th>
                            <th>Task Type</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>Due date</th>
                            <th>Assigned by</th>
                            <th>Assigned To</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Comments</th>
                            <th>No of days overdue</th>
                        </tr>
                        <tr>
                            <td>Daily Report</td>
                            <td>INFORM</td>
                            <td>Taking Report End of Every Day</td>
                            <td>12 May 2018</td>
                            <td>29 Nov 2018</td>
                            <td>Gowtham</td>
                            <td>Raju</td>
                            <td>27 Aug 2018</td>
                            <td>Resolved</td>
                            <td>Taking report at the evening</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Daily Report</td>
                            <td>INFORM</td>
                            <td>Taking Report End of Every Day</td>
                            <td>12 May 2018</td>
                            <td>29 Sep 2018</td>
                            <td>Gowtham</td>
                            <td>Raju</td>
                            <td>27 Aug 2018</td>
                            <td>Resolved</td>
                            <td>Taking report at the evening</td>
                            <td>0</td>
                        </tr>
                    </table>
				</div>
		    </div>
        </div>
    </div>
</div>