<div class="content-container">
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4>Loan Servicing Income</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="list-group">
                        <a class="list-group-item" href="#/mktcommission" has-permission='CREATE_JOURNALENTRY'>
                            <h4 class="list-group-item-heading"><i class=""></i>&nbsp;&nbsp;{{'Marketing Commission'}}</h4>
                        </a>
                        <a class="list-group-item" href="#/prsshare" has-permission='CREATE_JOURNALENTRY'>
                            <h4 class="list-group-item-heading"><i class=""></i>&nbsp;&nbsp;{{'PRS Share on Interest and Fees'}}</h4>
                        </a>
                        
                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">        
                    <div class="list-group">
                        <a class="list-group-item" href="#/fldgshare" has-permission='CREATE_JOURNALENTRY'>
                            <h4 class="list-group-item-heading"><i class=""></i>&nbsp;&nbsp;{{'FLDG Share on Interest and Fees'}}</h4>
                        </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>