<div class="content-container" ng-init="lenderFilter = false">
    <ul class="breadcrumb">
        <li><a href="#/loanservicing">Loan Servicing Income</a></li>
        <li class="active">Marketing Commission</li>
    </ul>
    <api-validate></api-validate>

    <div class="card">
        <div class="toolbar">
            <h4>List of Marketing Commission</h4>
        </div>
        <div class="content">
            <br>

            <div class="row">
                <div class="col-sm-8">
                    <form ng-submit="search()" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-8">
                                <input ng-autofocus="true" ng-model="filterText" ng-keyup="onFilter()" type="text"
                                       class="form-control unstyled"
                                       placeholder="Search by Loan Id, Lender Name, Transaction Date">
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" uib-tooltip="Search">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="" class="btn btn-primary rs-btn" uib-tooltip="Filter" ng-click="lenderFilter = !lenderFilter"><i
                                        class="fa fa-filter"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <a href="#/createbadloanclaims" class="btn btn-primary pull-right"><i
                            class="fa fa-download"></i> Download</a> &nbsp;&nbsp;
                </div>
            </div>
            <hr/>
            <div ng-if="lenderFilter" uib-collapse="isCollapsed" class="blockoverlay">
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Disbursemt Amount Range" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="submitteddate" type="text" name="submitteddate" ng-model="submitteddate" datepicker-pop="dd MMMM yyyy"
                                               is-open="opened1" min="minDate" max="restrictDate" placeholder="Date Range" class="form-control"/>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                        <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Fee Range" class="form-control"/>
                                </div>
                            </div>
                </div>
                
                
                <span><a ng-click="advancesearch(1)" class="btn btn-primary bottomspacing"><i class="icon-search icon-white"></i> {{'label.button.advancesearch'
                                | translate}}</a>
                    </span>
                <span>
                        <a ng-click="resetSearch()" class="btn btn-primary bottomspacing"> Reset</a>
                    </span>
                <hr/>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Lender Name</th>
                        <th>Amount Disbursed</th>
                        <th>Processing Fee</th>
                        <th>CoinTribe Proc Fee share</th>
                        <th>Lender's Proc Fee Share</th>
                    </tr>
                </thead>

                <tbody>
                    <tr >
                        <td><a href="#/viewmktcommission">RBL</a></td>
                        <td><a href="#/viewmktcommission">10,00,000</a></td>
                        <td><a href="#/viewmktcommission">100,000</a></td>
                        <td><a href="#/viewmktcommission">20,000</a></td>
                        <td><a href="#/viewmktcommission">80,000</a></td>
                    </tr>
                    <tr >
                        <td><a href="#/viewmktcommission">YES</a></td>
                        <td><a href="#/viewmktcommission">20,00,000</a></td>
                        <td><a href="#/viewmktcommission">200,000</a></td>
                        <td><a href="#/viewmktcommission">50,000</a></td>
                        <td><a href="#/viewmktcommission">150,000</a></td>
                    </tr>
                </tbody>

            </table>
            <dir-pagination-controls align="center" boundary-links="true"
                                     template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"
                                     on-page-change="getResultsPage(newPageNumber)">
            </dir-pagination-controls>

        </div>
    </div>


</div>
