<div class="content-container">
        <ul class="breadcrumb">
                <!-- <li><a href="#/viewmargindeposit">Tranche</a></li> -->
                <!-- <li><a href="#/bounce">Bounce</a></li> -->
                <li class="active"> View Bounce </li>
            </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="lender-title">
                    View Bounce
                </h4>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                <tr class="graybg">
                    <td></td>
                    <td>
                        <a href=""><button class="btn btn-primary pull-right rs-btn"><i class="fa fa-trash-o"></i> Delete </button></a>
                        <a href="#/editbounce"><button class="btn btn-primary pull-right rs-btn"><i class="fa fa-edit"></i> {{'label.button.edit' | translate}}</button></a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th >
                        Bounce Date
                    </th>
                    <td>23 November 2018</td>
                </tr>
                 <tr>
                    <th>
                        EMI Date
                    </th>
                    <td>22 November 2018</td>
                </tr>
                <tr>
                    <th >
                        Class Transaction Date
                    </th>
                    <td>09 December 2018</td>
                </tr>

                <tr>
                    <th >
                        Charge Name
                    </th>
                    <td>Bounce Charge</td>
                </tr>
                <tr>
                    <th >
                        Charge Date
                    </th>
                    <td>10 December 2018</td>
                </tr>
                <tr>
                    <th >
                        Charge Amount
                    </th>
                    <td>1,00,00,000</td>
                </tr>
                <tr>
                    <th >
                        Reason
                    </th>
                    <td>
                        Bank Rejected
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>