<div class="content-container" ng-init="lenderFilter = false">
    <ul class="breadcrumb">
        <li class="active">Margin Deposits</li>
    </ul>
    <api-validate></api-validate>

    <div class="card">
        <div class="toolbar">
            <h4>List of Margin Deposits</h4>
        </div>
        <div class="content">
            <br>

            <div class="row">
                <div class="col-sm-8">
                    <form ng-submit="search()" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-8">
                                <input ng-autofocus="true" ng-model="filterText" ng-keyup="onFilter()" type="text"
                                       class="form-control unstyled"
                                       placeholder="Search by Margin Deposit, Lender ID, Tranche Id, Deposit Amount">
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary form-control" uib-tooltip="Search">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="" class="btn btn-primary rs-btn" uib-tooltip="Filter" ng-click="lenderFilter = !lenderFilter"><i
                                        class="fa fa-filter"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <a href="#/margindeposit"><button class="btn btn-primary pull-right" ng-click="routeTo()"><i class="fa fa-plus"></i> Add Margin Deposit </button></a>
                </div>
            </div>
            <hr/>
            <div ng-if="lenderFilter" uib-collapse="isCollapsed" class="blockoverlay">
                <!-- Margin Deposit, Lender ID -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Margin Deposit Id" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Lender Id" class="form-control"/>
                        </div>
                    </div>
                </div>
                <!-- Tranche Id, Deposit Amount -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Tranche Id" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Deposit Amount" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- Start Date, Due Date -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Start Date" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Due Date" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- Advance Search Button -->
                <span><a ng-click="advancesearch(1)" class="btn btn-primary bottomspacing"><i class="icon-search icon-white"></i> {{'label.button.advancesearch'
                                | translate}}</a>
                    </span>
                <!-- Reset Button -->
                <span>
                        <a ng-click="resetSearch()" class="btn btn-primary bottomspacing"> Reset</a>
                    </span>
                <hr/>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                    <tr class="graybg">
                        <th >Margin Deposit Id</th>
                        <th >Lender Id</a></th>
                        <th >Tranche Id</a></th> 
                        <th >Deposit Amount</a></th>
                        <th >Start Date</a></th>
                        <th >Due Date</a></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#/viewmargindeposit">2136</a></td>
                        <td><a href="#/viewmargindeposit">SBI</a></td>
                        <td><a href="#/viewmargindeposit">4563</a></td> 
                        <td><a href="#/viewmargindeposit">100,000</a></td>
                        <td><a href="#/viewmargindeposit">12 Aug 2018</a></td>
                        <td><a href="#/viewmargindeposit">12 Sep 2018</a></td>
                        
                    </tr>
                    <tr>
                        <td><a href="#/viewmargindeposit">1223</a></td>
                        <td><a href="#/viewmargindeposit">SBI</a></td>
                        <td><a href="#/viewmargindeposit">4563</a></td> 
                        <td><a href="#/viewmargindeposit">200,000</a></td>
                        <td><a href="#/viewmargindeposit">24 Aug 2018</a></td>
                        <td><a href="#/viewmargindeposit">25 Sep 2018</a></td>
                        
                        </tr>
                </tbody>
            </table>
            <dir-pagination-controls align="center" boundary-links="true"
                                     template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"
                                     on-page-change="getResultsPage(newPageNumber)">
            </dir-pagination-controls>

        </div>
    </div>


</div>
