<div class="content-container">
        <ul class="breadcrumb">
            <li><a href="#/badloanclaims">Bad Loan Claims</a></li>
            <li class="active">View - Bad Loan Claims </li>
        </ul>
        <div class="card">
            <div class="content">
                <div class="toolbar">
                    <h4 class="lender-title">
                        View Bad Loan Claims
                    </h4>
                </div>
                <table class="table" class="table table-condensed">
                    <thead>
                        <tr class="graybg">
                            <th width="50%" class="graybg"></th>
                            <td>
                                <a href="#/editbadloanclaims"><button class="btn btn-primary pull-right"><i class="fa fa-edit"></i>{{'label.button.edit' | translate}}</button></a>
                                <a href=""><button class="btn btn-primary pull-right"><i class=""></i>{{'Undo'}}</button></a>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th >
                                    Lender
                            </th>
                            <td>ICICI</td>
                        </tr>
                        <tr>
                            <th>
                                    Product Scheme
                            </th>
                            <td>SB</td>
                        </tr>
                        <tr>
                            <th >
                                    Borrower
                            </th>
                            <td>Rajesh</td>
                        </tr>
                        <tr>
                            <th >
                                    Amount Due
                            </th>
                            <td>20,000</td>
                        </tr>
                        <tr>
                            <th >
                                    Amount Written Off
                            </th>
                            <td>20,000</td>
                        </tr>
                        <tr>
                            <th >
                                    Default Amount
                            </th>
                            <td>100,000</td>
                        </tr>
                        <tr>
                            <th >
                                    Share Amount
                            </th>
                            <td>50,000</td>
                        </tr>
                        <tr>
                            <th>
                                    Transaction Date
                            </th>
                            <td>12 August 2018</td>
                        </tr>
                        <tr>
                            <th >
                                    Value Date
                            </th>
                            <td>12 August 2018</td>
                        </tr>
                        <tr>
                            <th >
                                    Principal Component
                            </th>
                            <td>100,000</td>
                        </tr>
                        <tr>
                            <th >
                                    Interest Component
                            </th>
                            <td>10,000</td>
    
                        </tr>
                        <tr>
                            <th >
                                    Overdue Interest Component
                            </th>
                            <td>30,000</td>
                        </tr>
                        <tr>
                            <th >
                                    Processing Fee Component
                            </th>
                            <td>1,000</td>
    
                        </tr>
                        <tr>
                            <th >
                                    GST Component
                            </th>
                            <td>
                                1,000
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>