<!DOCTYPE html>
<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/lender">Lenders</a></li>
        <li><a href="#/viewlender">View Lender</a></li>
        <li class="active">Activate</li>
    </ul>

    <wizard current-step="step" class="card well">
        <wz-step icon="fa fa-circle-o" wz-title="Activate">
            <div class="card-content">
                <form name="activelender" novalidate="" class="form-horizontal" rc-submit="submit()">
                    <api-validate></api-validate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-sm-2"> Activated Date </label>
                            <div class="col-sm-3">
                                <div>
                                    <input type="text" name="activeddate" class="form-control" datepicker-pop="dd MMMM yyyy" ng-model="activateddate"
                                           is-open="opened" min="minDate" max="'2020-06-22'">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a id="cancel" ng-href="{{cancel}}" class="btn btn-default">cancel</a>
                            <button id="save" type="submit" class="btn btn-primary">submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </wz-step>
    </wizard>
</div>
