<!DOCTYPE html>
<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/lenders">Lenders</a></li>
        <li><a href="#/viewlender">View Lender</a></li>
        <li class="active">Add - Bank Details</li>
    </ul>

    <wizard current-step="step" class="card well">
        <wz-step icon="fa fa-circle-o" wz-title="Add Account Detail">
            <div class="card-content">
                <form name="addbankdetails" novalidate="" class="form-horizontal" rc-submit="submit()">
                    <api-validate></api-validate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-sm-2"> Bank ID<span class="required">*</span> </label>
                            <div class="col-sm-3">
                                <div>
                                    <input type="text" name="productid" class="form-control">
                                </div>
                            </div>
                            <label class="control-label col-sm-2">Bank Name<span class="required">*</span></label>
                            <div class="col-sm-3">
                                <input type="text" name="servicemodel" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Bank IFSC Code<span class="required">*</span></label>
                            <div class="col-sm-3">
                                <input type="text" name="minvol" class="form-control">
                            </div>
                            <label class="control-label col-sm-2">Bank Account Type<span class="required">*</span></label>
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option>SB</option>
                                    <option>CA</option>
                                    <option>CC</option>
                                    <option>TD</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Bank Account Number<span class="required">*</span></label>
                            <div class="col-sm-3">
                                <input type="text" name="voltype" class="form-control"/>
                            </div>
                            <label class="control-label col-sm-2">Bank Payment Method<span class="required">*</span></label>
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option>NEFT</option>
                                    <option>IMPS</option>
                                    <option>UPI</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                                <label class="control-label col-sm-2">Bank Account Usage</label>
                                <div class="col-sm-3">
                                    <select class="form-control">
                                        <option>Funding</option>
                                        <option>Collection</option>
                                    </select>
                                </div>
                        </div> -->
                        <div class="text-center">
                            <a id="cancel" ng-href="{{cancel}}" class="btn btn-default">Cancel</a>
                            <button id="save" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </wz-step>
    </wizard>
</div>
