<!DOCTYPE html>
<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/lenders">Lenders</a></li>
        <li><a href="#/viewlender/">Viw Lender</a></li>
        <li class="active"> Edit - Contact Detail</li>
    </ul>

    <wizard current-step="step" class="card well">
        <wz-step icon="fa fa-circle-o" wz-title="Edit Contact Details">
            <div class="card-content">
                <form name="createlenderform" novalidate="" class="form-horizontal" rc-submit="submit()">
                    <api-validate></api-validate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-sm-2"> Contact ID<span class="required">*</span> </label>
                            <div class="col-sm-3">
                                <div>
                                    <input type="text" name="contactid" value="000001" class="form-control">
                                </div>
                            </div>
                            <label class="control-label col-sm-2">Contact Name<span class="required">*</span></label>
                            <div class="col-sm-3">
                                <input type="text" name="contactname" value="Rajendran" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Designation<span class="required">*</span></label>
                            <div class="col-sm-3">
                                <input type="text" name="contactdesignation" value="Cash Management Officer" class="form-control">
                            </div>
                            <label class="control-label col-sm-2">Contact Email ID<span class="required">*</span></label>
                            <div class="col-sm-3">
                                <input type="text" name="contactemailid" value="abcefg@example.com" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Phone Number<span class="required">*</span></label>
                            <div class="col-sm-3">
                                <input type="text" name="contactphone" value="9089786756" class="form-control">
                            </div>
                            <label class="control-label col-sm-2">Contact Type</label>
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option value="">FUNDS</option>
                                    <option value="">RECOVERY</option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div class="text-center">
                            <a id="cancel" ng-href="{{cancel}}" class="btn btn-default">cancel</a>
                            <button id="save" type="submit" class="btn btn-primary">submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </wz-step>
    </wizard>
</div>
