<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/lenders">Lenders</a></li>
        <li><a href="#/viewlender">View Lender</a></li>
        <li class="active">View Contact</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="lender-title">
                Contact Details
                </h4>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                <tr class="graybg">
                    <th >Contact Details</th>
                    <td>
                        <a href="#/editlendercontacts"><button class="btn btn-primary pull-right"><i class="fa fa-edit"></i>{{'label.button.edit' | translate}}</button></a>
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr >
                    <th >Contact ID</th>
                    <td>123456</td>
                </tr>
                <tr >
                    <th >Contact Name</th>
                    <td>Rajendran</td>
                </tr>
                <tr >
                    <th >Contact Designation</th>
                    <td>Field Officer</td>
                </tr>
                <tr >
                    <th >Email ID</th>
                    <td>rajesh@gmail.com</td>
                </tr>
                <tr >
                    <th >Contact Phone Number</th>
                    <td>9089786756</td>
                </tr>
                <tr >
                    <th >Contact Type</th>
                    <td>FUNDS</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  