<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/lenders">Lenders</a></li>
        <li><a href="#/viewlender">View Lender</a></li>
        <li class="active">View Account</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="lender-title">
                    View Account
                </h4>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                <tr class="graybg">
                    <th class="graybg"><h4>Account Details</h4></th>
                    <td>
                        <a href="#/editlenderaccount"><button class="btn btn-primary pull-right"><i class="fa fa-edit"></i>{{'label.button.edit' | translate}}</button></a>
                    </td>
                </tr>
                </thead>

                <tbody>
                <tr >
                    <th >Bank ID</th>
                    <td>000001</td>
                </tr>
                <tr >
                    <th >Bank Name</th>
                    <td>IND Bank</td>
                </tr>
                <tr >
                    <th >Bank IFSC Code</th>
                    <td>IDIB000C20</td>
                </tr>
                <tr >
                    <th >Bank Account Type</th>
                    <td>CA</td>
                </tr>
                <tr >
                    <th >Bank Account Number</th>
                    <td>6021330455</td>
                </tr>
                <tr >
                    <th >Bank Payment Method</th>
                    <td>NEFT</td>
                </tr>
                <!-- <tr >
                    <th >Bank Account Usage</th>
                    <td>Funding</td>
                </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>