<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/lenders">Lenders</a></li>
        <li class="active">View Lender</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="lender-title">
                    Scheme Details
                </h4>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                    <tr class="graybg">
                        <th class="graybg"><h4>Scheme Details</h4></th>
                        <td>
                            <a href="#/editlenderscheme"><button class="btn btn-primary pull-right"><i class="fa fa-edit"></i> {{'label.button.edit' | translate}}</button></a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                        <!-- <tr>
                                <th >Scheme </th>
                                <td>Scheme 1</td>
                            </tr> -->
                    <tr>
                        <th >Lender</th>
                        <td>SBI</td>
                    </tr>
                    <tr>
                        <th >Product Id</th>
                        <td>Business Loan</td>
                    </tr>
                    <tr>
                        <th>Service Model</th>
                        <td>FLDG</td>
                    </tr>
                    <tr>
                        <th >Recovery support period (DPA)</th>
                        <td>30</td>
                    </tr>
                    
                   
                </tbody>
            </table>
        </div>
    </div>
</div>