<!DOCTYPE html>
<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/viewserviceperson">View Service Person </a></li>
        <li class="active">Edit - Service Person</li>
    </ul>

    <wizard current-step="step" class="card well">
        <wz-step icon="fa fa-circle-o" wz-title="Edit Scheme">
            <div class="card-content">
                <form name="editscheme" novalidate="" class="form-horizontal" rc-submit="submit()">
                    <api-validate></api-validate>
                    <fieldset>
                        <div class="form-group">
                                       
                                      
                            <label class="control-label col-sm-2">Role </label>
                            <div class="col-sm-3">
                                <div>
                                    <select class="form-control">
                                        <option value="">Loan Officer</option>
                                        <option value="">Field Agent</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="control-label col-sm-2"> Employee Id </label>
                            <div class="col-sm-3">
                                <div>
                                    <select class="form-control">
                                        <option value="">236</option>
                                        
                                    </select>
                                </div>
                            </div>
                            </div>
                            <div class="form-group">
                            <label class="control-label col-sm-2">User Id </label>
                            <div class="col-sm-3">
                                <div>
                                    <select class="form-control">
                                        <option value="">369</option>
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                        <br/>
                        <div class="text-center">
                            <a id="cancel" ng-href="{{cancel}}" class="btn btn-default">cancel</a>
                            <button id="save" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </wz-step>
    </wizard>
</div>
