<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/viewloanaccount/1">Service Person</a></li>
        <li class="active">View Service Person</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="lender-title">
                    Service Person Details
                </h4>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                    <tr class="graybg">
                        <th class="graybg"><h4>Service Person Details</h4></th>
                        <td>
                            <a href="#/editloanserviceperson"><button class="btn btn-primary pull-right"><i class="fa fa-edit"></i>{{'label.button.edit' | translate}}</button></a>
                            <button type="button" class="btn btn-primary pull-right"><i
                                    class="fa fa-trash-o "></i>{{"label.button.delete"
                                | translate}}
                            </button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                        <!-- <tr>
                                <th >Scheme </th>
                                <td>Scheme 1</td>
                            </tr> -->
                    <tr>
                        <th >Role</th>
                        <td>HR</td>
                    </tr>
                    <tr>
                        <th >Employee Id</th>
                        <td>2256</td>
                    </tr>
                    <tr>
                        <th>User Id</th>
                        <td>252</td>
                    </tr>
                    
                    
                   
                </tbody>
            </table>
        </div>
    </div>
</div>