<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/dsainvoice">DSA Invoice Payment</a></li>
        <li class="active">View DSA Invoice payment </li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="lender-title">
                    View DSA Invoice payment
                </h4>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                    <tr class="graybg">
                        <th width="50%" class="graybg"></th>
                        <td>
                                <a href="#/editdsainvoice" class="btn btn-primary pull-right"><i
                                    class="fa fa-edit "></i> {{"label.button.edit" | translate}}
                            </a>
                            <a href="#/approvedsainvoice"><button class="btn btn-primary pull-right"><i class=""></i>{{'Approve'}}</button></a>
                            <a href=""><button class="btn btn-primary pull-right"><i class=""></i>{{'Reject'}}</button></a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >
                            DSA
                        </th>
                        <td>124312</td>
                    </tr>
                    <tr>
                        <th>
                                Product 
                        </th>
                        <td>SB</td>
                    </tr>
                    <tr>
                        <th >
                            From Date
                        </th>
                        <td>12 Sep 2018</td>
                    </tr>
                    <tr>
                        <th >
                            To Date
                        </th>
                        <td>12 Sep 2020</td>
                    </tr>
                    <tr>
                        <th >
                            DSA Name
                        </th>
                        <td>Loan</td>
                    </tr>
                    <tr>
                        <th >
                            Date
                        </th>
                        <td>12 Sep 2018</td>
                    </tr>
                    <tr>
                        <th >
                            Total Loan Turnover
                        </th>
                        <td>120,000</td>
                    </tr>
                    <tr>
                        <th>
                            Total Commission
                        </th>
                        <td>50,000</td>
                    </tr>
                    <tr>
                        <th>
                            GST
                        </th>
                        <td>10,000</td>
                    </tr>
                    <tr>
                        <th>
                            Status
                        </th>
                        <td>Active</td>
                    </tr>
                    
                    
                    
                </tbody>
            </table>
        </div>
    </div>
</div>