<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/dsamonthend">DSA Month-End Commission</a></li>
        <li class="active">View - DSA Month-End Commission </li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="lender-title">
                    View DSA Month-End Commission
                </h4>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                    <!-- <tr class="graybg">
                        <th width="50%" class="graybg"></th>
                        <td>
                            <a href=""><button class="btn btn-primary pull-right"><i class=""></i>{{'Process MKT Commision'}}</button></a>
                            <a href=""><button class="btn btn-primary pull-right"><i class=""></i>{{'Export invoice as excel'}}</button></a>
                        </td>
                    </tr> -->
                </thead>
                <tbody>
                    <tr>
                        <th >
                            DSA
                        </th>
                        <td>124312</td>
                    </tr>
                    <tr>
                        <th>
                                Product 
                        </th>
                        <td>SB</td>
                    </tr>
                    <tr>
                        <th >
                            Particulars
                        </th>
                        <td>Loan</td>
                    </tr>
                    <tr>
                        <th >
                            Disbursal Amount
                        </th>
                        <td>1,000,000</td>
                    </tr>
                    <tr>
                        <th >
                            Payout %
                        </th>
                        <td>30</td>
                    </tr>
                    <tr>
                        <th >
                            Final Payout
                        </th>
                        <td>1,300,000</td>
                    </tr>
                    <tr>
                        <th >
                            GST
                        </th>
                        <td>300,000</td>
                    </tr>
                    <tr>
                        <th>
                            Grand Total
                        </th>
                        <td>1,300,000</td>
                    </tr>
                    
                    
                    
                </tbody>
            </table>
        </div>
    </div>
</div>