<div class="content-container" ng-init="lenderFilter = false">
    <ul class="breadcrumb">
        <li class="active">Month-End Balance Summary</li>
    </ul>
    <api-validate></api-validate>

    <div class="card">
        <div class="toolbar">
            <h4>Month-End Balance Summary</h4>
        </div>
        <div class="content">
            <br>

            <div class="row">
                <div class="col-sm-8">
                    <form ng-submit="search()" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-8">
                                <input ng-autofocus="true" ng-model="filterText" ng-keyup="onFilter()" type="text"
                                       class="form-control unstyled"
                                       placeholder="Search by Bank Code, Source Loan Id">
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary form-control" uib-tooltip="Search">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="" class="btn btn-primary rs-btn" uib-tooltip="Filter" ng-click="lenderFilter = !lenderFilter"><i
                                        class="fa fa-filter"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
                    <a href="#/createdlod" class="btn btn-primary pull-right"><i
                        class="fa fa-plus"></i> Create DLOD</a> &nbsp;&nbsp;
                    <!--<a href="#/bulkimportlenders" class="btn btn-primary pull-right" has-permission='CREATE_CLIENT'><i-->
                    <!--+                            class="fa fa-upload"></i>&nbsp;Import Lenders</a>-->
                </div>
            </div>
            <hr/>
            <div ng-if="lenderFilter" uib-collapse="isCollapsed" class="blockoverlay">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="">-- Lender Id --</option>
                                <option value="">SBI</option>
                                <option value="">RBL</option>
                                <option value="">YES</option>
                                <option value="">IND</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="Loan Id" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="activateddate" ng-model="activateddate" type="text" placeholder="Date Range" name="activateddate" datepicker-pop="dd MMMM yyyy"
                                   is-open="opened2" min="minDate" max="restrictDate"  class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                </div>
                <!-- Advance Search Button -->
                <span><a ng-click="advancesearch(1)" class="btn btn-primary bottomspacing"><i class="icon-search icon-white"></i> {{'label.button.advancesearch'
                                | translate}}</a>
                    </span>
                <!-- Reset Button -->
                <span>
                        <a ng-click="resetSearch()" class="btn btn-primary bottomspacing"> Reset</a>
                    </span>
                <hr/>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Bank Code</th>
                    <th>Source Loan Id</th>
                    <th>Reporting Month</th>
                    <th>Month End Limits</th>
                    <th>Month Closing Balance</th>  
                    <th>Closed Date</th>
                </tr>
                </thead>

                <tbody>
                <tr >
                    <td><a href="#/viewdlod">25422</a></td>
                    <td><a href="#/viewdlod">S253</a></td>
                    <td><a href="#/viewdlod">March</a></td>
                    <td><a href="#/viewdlod">50,000</a></td>
                    <td><a href="#/viewdlod">100,000</a></td>
                    <td><a href="#/viewdlod">31 Mar 2018</a></td>
                </tr>
                <tr >
                    <td><a href="#/viewdlod">52234</a></td>
                    <td><a href="#/viewdlod">S875</a></td>
                    <td><a href="#/viewdlod">February</a></td>
                    <td><a href="#/viewdlod">80,000</a></td>
                    <td><a href="#/viewdlod">200,000</a></td>    
                    <td><a href="#/viewdlod">28 Feb 2018</a></td>               
                </tr>
                </tbody>

            </table>
            <dir-pagination-controls align="center" boundary-links="true"
                                     template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"
                                     on-page-change="getResultsPage(newPageNumber)">
            </dir-pagination-controls>

        </div>
    </div>


</div>
