<div class="content-container">
    <ul class="breadcrumb">
        <li><a href="#/channelpartners">Channel Partners</a></li>
        <li><a href="#/viewchannelpartner">View Channel Partner</a></li>
        <li class="active">View Contacts</li>
    </ul>
    <div class="card">
        <div class="content">
            <div class="toolbar">
                <h4 class="lender-title">
                    View Contacts
                </h4>
            </div>
            <table class="table" class="table table-condensed">
                <thead>
                <tr class="graybg">
                    <th class="graybg"><h4>Contact Details</h4></th>
                    <td>
                        <a href="#/editchannelcontact"><button class="btn btn-primary pull-right"><i class="fa fa-edit"></i> {{'label.button.edit' | translate}}</button></a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <th >Contact ID</th>
                    <td >112233</td>
                </tr>
                <tr >
                    <th >Contact Name</th>
                    <td >Rajendren</td>
                </tr>
                <tr >
                    <th >Contact Designation</th>
                    <td >Field Office</td>
                </tr>
                <tr >
                    <th >Contact Email ID</th>
                    <td >acb@bank.com</td>
                </tr>
                <tr >
                    <th >Contact Phone Number</th>
                    <td >9988776655</td>
                </tr>
                <tr >
                    <th >Contact Type</th>
                    <td >Fund</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>